* {
  padding: 0;
  margin: 0;
}

.card {
  border: 2px solid black;
  max-width: 500px;
  border-radius: 22px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 116px auto;
}

.inputBorder {
  border: 2px solid white;
}

.inputSize {
  width: 95%;
  height: 37px;
  margin: 0px 0px 0px 5px;
  padding: 0px 0px 0px 10px;
  border-radius: 11px;
  color: rgb(25, 25, 243);

}

.buttonSize {
  width: 41px;
  height: 37px;
  margin: 0px 0px 0px 5px;
  padding: 5px 0px 0px 10px;
  border-radius: 11px;

}

.searchFlex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}









.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 45px 95px 0px 95px; */
  margin: 45px 0px 0px 14px;


}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 5px 95px 0px 95px; */
  margin: 5px 6px 0px 6px;


}

.city {
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}